name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Build ompl image
        run: docker build -t th3rring/builder:ompl ./ompl/
      - name: Build dart image
        run: docker build -t th3rring/builder:dart ./dart/
      - name: Build xe2ez image
        run: docker build -t th3rring/builder:xe2ez ./xe2ez/
